* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background: #ccc;
  overflow-x: auto;
}

/* Header */
.header {
  height: 100vh;
  background-image: url(../img/Untitled\ design.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Nav */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 120px;
  padding: 0 70px;
  /* background:#fff;  */
}
.header__image {
  width: 90px;
  height: 90px;
  margin-top: 10px;
  margin-bottom: 0;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
}

.content * {
  z-index: 10;
}

.header__container * {
  z-index: 10;
}

.header__moto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0.9;
}

.header__title {
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
}

.header__title-p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 100;
  text-transform: uppercase;
}

.header__menu {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
}

.header__link {
  padding: 5px 15px;
}

.header__link a {
  color: #fff;
  text-decoration: none;
}

.header__link a:hover {
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: ease-in-out 0.4s;
}

/* Header content */
.content {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  align-items: center;
  height: 100%;
  color: #fff;
}

.content__title {
  font-size: 35px;
  letter-spacing: 5px;
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: 500;
}
.content__title-glory {
  font-weight: 300;
  padding-top: 50px;
  margin-bottom: 30px;
}

/* Services */
.service {
  background: #fff;
}

.service__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.service__title {
  font-size: 1.5rem;
  margin: 20px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.service__box-1 {
  text-align: center;
  padding-top: 60px;
  line-height: 38px;
  font-size: 22px;
}
.service__list-item {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  list-style-type: none;
}
.service__description {
  font-size: 1rem;
}
.column {
  border: 1px solid #000;
  padding: 40px;
  background: #0f4d6b;
  color: #fff;
}
.column__description {
  max-width: 500px;
}
.column__vision {
  background: #5092b3;
}

/* About section Pastor*/

.about {
  margin-top: 10rem;
}

.about__title {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.about__pastor {
  margin-top: 5rem;
}

.about__pastor-content {
  display: flex;
  gap: 2rem;
}

.about__pastor-title {
  /* text-align:center; */
  font-weight: 400;
}

.pastor__description {
  font-size: 1.2rem;
}

.about__pastor-title {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  margin: 40px 0;
}

.about__description {
  letter-spacing: -0.05em;
}

/* About page Doctrine*/

.doc__title {
  text-align: center;
  margin-top: 5rem;
  font-size: 2.25rem;
  letter-spacing: -0.05em;
  line-height: 1;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 500px;
  margin: 5rem auto 0;
}

.doc__wrapper {
  display: flex;
  justify-content: space-around;
}

.doc__description-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: start;
  border-bottom: 2px solid black;
}

.doc__box {
  margin: 10px;
  padding: 30px;
}

.doc__box ul {
  margin-top: 20px;
  line-height: 2;
  max-width: 55ch;
  text-align: justify;
  letter-spacing: -0.02em;
}

.doc__image {
  height: 410px;
  width: 500px;
  margin-top: 20px;
}

.doc__description-end {
  text-align: center;
  font-weight: 400;
  margin-bottom: 3rem;
}

.doc__line {
  margin: 40px 0;
}

/* Department */
.department {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1100px;
  margin: 5rem auto;

  /* max-width:1000px; 
  margin:40px auto;  */
}

.department__heading {
  text-align: center;
  margin-top: 5rem;
  font-size: 3rem;
}

.department__card {
  width: 530px;
  min-height: 440px;
}

.department__image {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 246px;
}

.department__content {
  padding: 20px;
}

.department__title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.15px;
  margin-bottom: 10px;
}

/* Sunday School Zirthtu Pawl */

.sunday__school {
  background: #eee;
  margin: 5rem 0 2rem;
  padding: 20px;
}

.sunday__school__heading {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 20px;
}
.sunday__school-title {
  margin: 10px 0;
}

.sunday__school__wrapper {
  display: flex;
}

.sunday__school__box {
  /* flex:1;  */
  margin: 0 auto;
}

/* Contact */
.contact__wrapper {
  display: flex;
  justify-content: space-between;
}
.form__control {
  display: block;
  margin: 20px 0;
  flex: 1;
}
.form__control label {
  display: block;
  text-align: center;
}
.form__control input {
  padding: 20px;
}

.contact__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  flex: 1;
}
.contact__logo .contact__img {
  width: 300px;
  height: 300px;
}

.contact__social .fab {
  flex: 1;
  margin-top: 200px;
  margin-right: 2rem;
  font-weight: 200;
  color: black;
  gap: 2rem;
}

/* Footer */

.footer {
  text-align: center;
  height: 5rem;
  /* margin-top:2rem; */
  padding: 20px;
  background: #eee;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: black;
  color: #fff;
}

@media (max-width: 500px) {
  html {
    overflow-x: hidden;
  }
  .header__container {
    flex-direction: column;
  }
  /* Khawm Caan  */
  .service__wrapper {
    grid-template-columns: 1fr;
  }
  .service__title {
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .service__box-1 {
    padding: 20px;
  }
  /* Sunday School zirthtu pawl content */
  .sunday__school__wrapper {
    flex-direction: column;
  }
  .contact__wrapper {
    flex-direction: column;
  }
  .content {
    margin: 30px;
  }
  .content__title {
    font-size: 25px;
  }
  .content__description {
    margin: 2rem 0;
  }
  .contact__title {
    text-align: center;
  }
  .form__wrapper {
    text-align: center;
  }
  .contact__social {
    text-align: center;
  }
  .contact__social .fab {
    margin: 20px 0;
    text-align: center;
    align-items: center;
  }
  /* Pastor About Page */
  .about__pastor-content {
    flex-direction: column;
  }
  /* Church Dotrine content */
  .doc {
    overflow-x: hidden;
  }
  .doc__title {
    margin: 30px 0;
    text-align: center;
    /* display:none;  */
    width: none;
  }
  .doc__box {
    margin: 0;
    padding: 0;
  }
  .doc__wrapper {
    flex-direction: column;
    letter-spacing: none;
    max-width: 35ch;
    text-align: justify;
  }
  .doc__image {
    height: 200px;
    width: 300px;
  }
  .doc__description-end {
    margin: 20px 0;
  }
}
