
.about {
  margin-top: 10rem;
}

.about__title {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.about__pastor {
  margin-top: 5rem;
}

.about__pastor-content {
  display: flex;
  gap: 2rem;
}

.about__pastor-title {
  font-weight: 400;
}

.pastor__description {
  font-size: 1.2rem;
}

.about__pastor-title {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  margin: 40px 0;
}
.about__description {
  letter-spacing: -0.05em;
}
