.about__header {
  height: 70vh;
  padding: 30px 80px 40px;
  background:#0f4d6b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%; 
  max-width: 650px;
  margin: 0 auto;
}

.about__content_title {
  color: #fff;
  padding-bottom:20px;
  text-transform: uppercase;
}
.about__content_description {
  color: #fff;
  line-height:27px; 
  width:280px;
}

@media screen and (max-width:750px) { 
.about__header{ 
  height:90vh; 
}
}