.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* max-width:1100px;  */
  margin: 0 auto;
  color: #fff;
  overflow: hidden;
}
.card__vision {
  border-bottom: 1px solid white;
}
.card__title {
  text-transform: uppercase;
  margin: 0 0 20px;
}

.card__list_item {
  padding-bottom: 10px;
}
.card__list_item:last-child {
  padding: 0;
}
.card__church_time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5092b5;
  padding: 51px;
}
.card__vision_mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0f4d6b;
  width: 100%;
  padding: 51px;
}
.card__vision_title {
  margin: 0 0 18px;
}
.card__mission_title {
  padding: 20px 0 18px;
}
.card__vision_description {
  margin: 0;
  padding-bottom: 50px;
  font-weight: normal;
  width: 600px;
  line-height: 27px;
}
.card__mission_description {
  margin: 0;
  width: 600px;
  line-height: 27px;
}

@media screen and (max-width: 600px) {
  .card {
    grid-template-columns: 1fr;
    padding: 0px;
  }
  .card__vision_title {
    /* text-align: center; */
    padding-bottom: 10px;
  }
  .card__mission_title {
    /* text-align: center; */
    padding-bottom: 20px;
  }
  .card__mission_description {
    width: 100%;
    font-weight: 300;
  }
  .card__vision_description {
    width: 100%;
    padding-bottom:15px; 
  }
  .card__vision_mission {
  }
}
@media screen and ( max-width: 850px){ 
  .card{ 
    grid-template-columns:1fr; 
  }
}