.department {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1100px;
  margin: 5rem auto;
  color:#333; 
}

.department__heading {
  text-align: center;
  margin-top: 5rem;
  font-size: 3rem;
}

.department__card {
  width: 530px;
  min-height: 440px;

}

.department__image {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 246px;
}

.department__content {
  padding: 20px;
}

.department__title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.15px;
  margin-bottom: 10px;
}