.doctrine{ 
      display:flex; 
      flex-direction:column; 
      justify-content: center;
      align-items: center;
      background:#fff; 
      padding-bottom:40px; 
      background:#f3f3f3; 
      

}
.doctrine__header{ 
      display:flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.doctrine__image{ 
      width:100px; 
      height:100px ; 
      padding:20px; 
      margin-top:-50px; 
      margin-bottom:40px;
      border-radius:50%; 
      box-shadow:1px 3px 9px rgba(0,0,0,0.5); 
      background:#eee; 
}
.doctrine__title{ 
      text-transform: uppercase;
      line-height:17px; 
      letter-spacing: 1px;
      margin-bottom:60px;
      border-bottom:1px solid black; 
      padding:10px;
     
}
.doctrine__apostle{ 
      margin-bottom:20px; 
      display:flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.doctrine__apostle_title{ 
      padding:15px 0; 
      font-weight:400; 
     width:200px; 
     box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
     text-align: center;
}
.doctrine__apostle_description{ 
      margin-bottom:30px; 
      padding:20px; 
      list-style-position: inside;
}
.doctrine__nicea_description{ 
      margin-bottom:30px; 
      padding:20px; 
      list-style-position: inside;
}
.doctrine__apostle_description-item{ 
      padding-bottom:10px; 
}
.doctrine__nicea{ 
      display:flex; 
      flex-direction:column; 
      justify-content: center;
      align-items: center;

}
.doctrine__nicea_title{ 
      padding:15px 0; 
      font-weight:400; 
      box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
      width:200px; 
      text-align: center;
}
.doctrine__nicea_description-item{ 
      padding-bottom:10px; 
      
}
@media screen and (max-width: 500px) { 
      .doctrine__image{ 
            width:60px; 
            height:60px; 
            margin-top:-30px;
            padding:10px; 
      }
}