.box {
  height: 70px;
  background: #0f4d6b;
}
.header {
  background-image: url(../img/church.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  width:100%; 
  padding:50px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  z-index: 999;
  /* overflow: hidden; */
}

.header__content {
  position:absolute; 
  top:25%; 
  left:35%; 
  margin: 0 auto; 
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding:50px 100px; 
  background:rgba(255,255,255,0.6); 
}
.header__title {
  max-width: 10ch;
  color: #fff;
  line-height: 37px;
  color: #000;
  font-size: 33px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.header__description {
  font-size: 20px;
  color: #000;
}

@media screen and (max-width: 800px) {
  .header {
    background: url(../img/pray.jpg) no-repeat;
    height: 25rem;
    background-position: center;
    background-size: cover;
  }
  .header__title {
    font-size: 23px;
  }
  .header__description {
    font-size: 18px;
  }
  .header__content_wrapper {
    display: none;
  }
  .header__content{ 
    display:none;
  }
}
@media screen and (max-width: 768px) {
  .header__content_wrapper {
    display: none;
  }
}
