.box {
  height: 70px;
  background: #0f4d6b;
}
.header {
  background-image: url(../img/sport-run.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:calc(100% - 70px);
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  /* position: relative; */
  z-index: 999;
}
.header__content {
  color: #fff;
  padding: 150px;
  background: rgba(0, 0, 0, 0.4);
  margin:50px auto 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow:hidden; 
}
.header__title {
  color: #fff;
  line-height: 37px;
  font-size: 33px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
.header__description {
  font-size: 20px;
  font-weight: 500;
  padding: 40px 0;
}
.header__verse {
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .header{ 
    height:80%; 
  }
  .header__content {
    padding:30px;
  }
  .header__title {
    padding-bottom: 20px;
    font-size: 23px;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .header__title {
    font-size: 18px;
    font-size: 22px;
    padding-bottom: 0;
  }
  .header__description {
    font-size: 16px;
    font-weight: 300;
    padding: 20px 0;
    text-align: center;
  }
}
