.home__gallery {
  width: 100%;
  position: relative;
  margin: 20px auto 40px;
  background:#f2f2f2; 
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-auto-rows: 250px;
  grid-auto-flow:dense; 
  grid-gap: 10px;
  margin: 0;
  padding: 0;
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.card__image:hover {
opacity:.9;  
}
.card__one {
      grid-column:span 2; 
}
.card__two {
      grid-column:span 2; 
      grid-row:span 2; 
}

.card__three {
}
.card__four {
}
.card__five {
      /* grid-row:span 2;  */
}
.card__six {
      grid-column:span 3; 
      grid-row: span 3; 
}
