.nav {
  display: flex;
  justify-content: space-between;
}
.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}
.nav__link:hover {
  background: #5092b2;
  padding: 10px;
  border-radius: 10px;
}
.nav__logo {
  width: 120px;
  height: 120px;
  margin-top: -90px;
}
