.pastor {
  background: #fff;
  border-bottom: 1px solid #000;
}
.pastor__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background:#fff;  */
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px;
}
.pastor__content{ 
  display:flex; 
  flex-direction:column; 
  justify-content: center;
  align-items:center;
  padding-bottom:0px; 
}
.pastor__title {
  text-align: center;
  font-weight: 500;
  padding:20px 0; 
}
.pastor__description {
  max-width: 1100px;
  line-height: 27px;
  padding-bottom: 40px;
}
.pastor__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -140px;
  z-index:1; 
}

@media screen and (max-width: 500px) {
  .pastor__description {
    width: 100%;
    padding-bottom:20px;
  }
  .pastor__image{ 
      margin:0; 
      width:150px; 
      height:150px; 
  }
  .pastor__title{ 
    padding:20px 0; 
  }
}
