.sunday__school {
  background: #eee;
  color: #000;
  margin: 2rem 0 2rem;
  padding: 20px;
  max-width: 1100px; ;
}
.sunday__school__lists {
  list-style-type: none;
}

.sunday__school__heading {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 20px;
}
.sunday__school-title {
  margin: 10px 0;
}

.sunday__school__wrapper {
  display: flex;
  justify-content: space-between;
  gap:200px;

}

.sunday__school__card {
  margin: 0 auto;
}
